#main-container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: gray;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    width: 35px;
    height: 35px;
}