#main-container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: gray;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    width: 60px;
    height: 60px;
}

/*.cell:hover {
    background-color:lightgray;
}*/